<!doctype html>
<html>
<head>
  <title>Fancy game ex52</title>
  <style>
  body {
    background-color: lightblue;
  }

  h1, h2 {
    font-family: Arial;
    font-size: 36px;
    color: #3D8299;
    text-align: center;
    background-color: #eee;
    border-radius: 16px;
    padding-left: 20px;
  }

  p {
    font-family: Arial;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 20px;
  }

  form {
    font-family: Arial;
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 20px;
  }

</style>

</head>

<body>
  {% block content %}
  <p>Empty Layout</p>
  <h1>Some headline</h1>
  {% endblock %}
</body>
</html>
